<MudThemeProvider Theme="@theme" />
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="MudText" />
    </Found>
    <NotFound>
        <PageTitle>No encontrada</PageTitle>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <p role="alert">Ups, dirección no encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
    MudTheme theme = new()
        {
            Palette = new Palette()
            {
                Primary = "#182b48",
                Secondary = "#18a3b5",
                Surface = "#ffffff",
                AppbarBackground = "#ffffff",
                AppbarText = Colors.Shades.Black
            }
        };
}