@inject ISurveyService SurveyService
@using QualityManagementApp.Shared

<div class="mat-layout-grid">
    <MatDialogTitle style="display: flex; align-items: center;">
        <div style="flex: 1;">Nueva pregunta</div>
        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" Closed="@(!SurveyService.IsBusy)" />
    </MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@SurveyService.Question" OnValidSubmit="@SurveyService.AddQuestion">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-align-middle">
                    <div>
                        <br />
                        <MatSelectValue Outlined="true" Class="flex-width" Label="Seleccione el tipo de pregunta" Items="@SurveyService.TypesQA" TValue="int?" TItem="Model.TypeQA" ValueSelector="@(i => i.PkTypeQA)" ValueChanged="@(async (int? t) => await SurveyService.GetAnswersByTypeQA(t))" ValueExpression="@(() => SurveyService.Question.FkTypeQA)">
                            <ItemTemplate Context="type">
                                <span>@type?.Title</span>
                            </ItemTemplate>
                        </MatSelectValue>
                        <ValidationMessage class="mat-caption" For="@(() => SurveyService.Question.FkTypeQA)" />
                    </div>
                    <div>
                        <br />
                        <MatTextField Outlined="true" Class="flex-width" TValue="string" Label="Escriba su pregunta" @bind-Value="@SurveyService.Question.Title" />
                        <ValidationMessage class="mat-caption" For="@(() => SurveyService.Question.Title)" />
                    </div>
                    <div>
                        <br />
                        <DataAnnotationsValidator />
                        <MatButton Class="flex-width" Type="submit" Icon="add_circle" Label="Añadir pregunta"></MatButton>
                    </div>
                </div>
                <div class="mat-layout-grid-cell"></div>
                <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">
                    <div>
                        @if (SurveyService.AnswersByTypeQA == null)
                        {
                            <MatBody2>Aqui apareceran las posibles respuestas...</MatBody2>
                        }
                        else
                        {                            
                            <MatList SingleSelection="true">
                                @foreach (var answer in SurveyService.AnswersByTypeQA)
                                {
                                    @if (answer.FkTypeQA == (int)ISurveyService.TypeAnswer.Abiertas)
                                    {
                                        <MatBody2>Respuestas abiertas...</MatBody2>
                                    }
                                    else
                                    {
                                        <MatBody2>Posibles respuestas.</MatBody2>
                                        <MatListItem>@answer.AnswerName</MatListItem>
                                    }
                                }
                            </MatList>
                        }
                    </div>
                </div>
            </div>
        </EditForm>
    </MatDialogContent>
</div>
