@page "/positions"
@using QualityManagementApp.Client.Services.Contracts.Catalog
@using QualityManagementApp.Shared
@inject IPositionService PositionService
@inject NavigationManager navigation
<PageTitle>Cargos</PageTitle>

<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
    <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">
        <MatH4><MatIcon Style="font-size:32px; margin-top:-5%" Icon="ballot"></MatIcon> Cargos</MatH4>
    </div>
    <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
</div>

<div class="mat-layout-grid-inner" style="margin-bottom:5%">
    <div class="mat-layout-grid-cell">
        <MatButton Icon="add_circle" OnClick="@(() => navigation.NavigateTo("position_details"))" Label="Nuevo Cargo"></MatButton>
    </div>
    <div class="mat-layout-grid-cell">
    </div>
    <div class="mat-layout-grid-cell"></div>
</div>

@if (PositionService.Positions == null)
{
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
        </div>
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
    </div>
}
else if (PositionService.Positions.Length == 0)
{
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">
            <MatH6>Parece que no tienes ningun cargo añadido.</MatH6>
        </div>
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
    </div>
}
else
{
    
    @*<MatTable Items="@PositionService.Positions" SelectionChanged="@((row) => navigation.NavigateTo("position_details/" + ((Model.Position)row).PkPosition))"  AllowSelection="true" FilterByColumnName="Title" DebounceMilliseconds="150">
        <MatTableHeader>
            <th style="width:100%">Cargo</th>
            <th style="width:100%">Descripción</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Title</td>
            <td>@context.Description</td>
        </MatTableRow>
    </MatTable>*@
}

@*<MatSnackbar @bind-IsOpen="@PositionService.Snackbar.SnackbarIsOpen" Leading="true">
    <MatSnackbarContent>@PositionService.Snackbar.Message</MatSnackbarContent>
</MatSnackbar>*@

@code {
    protected override async Task OnInitializedAsync()
    {
        await PositionService.GetPositions();
    }
}
