@page "/position_details"
@page "/position_details/{positionId}"
@using QualityManagementApp.Shared
@using QualityManagementApp.Client.Services.Contracts.Catalog
@using System.Threading
@implements IDisposable
@inject ClipboardService ClipboardService
@inject NavigationManager navigation
@*@inject IMatDialogService MatDialogService*@
@inject IPositionService PositionService

<MatProgressBar Indeterminate="true" Closed="@(!PositionService.IsBusy)"></MatProgressBar>
<EditForm Model="@PositionService.Position" OnValidSubmit="@PositionService.AddPosition">    
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">

            <MatH4>@(PositionId == null ? "Nuevo Cargo" : "Detalles del cargo")</MatH4>

                    <br>
                    <div>
                        @*<MatTextField Disabled="@IsDisable" Outlined="true" Class="flex-width" Label="Nombre del Cargo"  @bind-Value="@PositionService.Position.Title" />*@
                    </div>
                    <br>
                    <div>
                        @*<MatTextField Disabled="@IsDisable" TextArea="true" Label="Descripción" @bind-Value="@PositionService.Position.Description" />*@
                    </div>

                    <DataAnnotationsValidator />

                    <br>
                    <br>
                    <br>
                </div>
                <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">
                    <br>
                    <br>
                    @if (IsDisable == false)
                    {
                        <MatButton Type="submit" disabled="@(PositionService.Position.Title == null? true : false)" Icon="add_circle" Label="Agregar Cargo"></MatButton>
                    }
        </div>
    </div>

</EditForm>

    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
        <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%">
        <br>
        <br>
        <br>
    </div>
    <div class="mat-layout-grid-cell" style="margin-top:-5%; margin-bottom:-5%"></div>
</div>

@code {
    [Parameter]
    public string? PositionId { get; set; }

    bool IsDisable { get; set; }

    CancellationTokenSource cts = new(); //link
    State state = new("Copiar para compartir", "share");
    record State(string Text, string Icon, bool IsDisabled = false);

    protected override async Task OnParametersSetAsync()
    {
        PositionService.IsBusy = true;
        if (PositionId == null)
        {
            IsDisable = false;
            PositionService.Position = new();
        }
        else
        {
            IsDisable = true;
            await PositionService.GetPosition(PositionId);
        }
        PositionService.IsBusy = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await PositionService.GetPositions();
    }

    //async Task CopyToClipboard()
    //{
    //    var temp = state;//done
    //    state = new("Copiado", "check", IsDisabled: true);
    //    await ClipboardService.WriteTextAsync(navigation.BaseUri + "survey/" + SurveyService.Survey.PkSurvey);
    //    await Task.Delay(TimeSpan.FromSeconds(2), cts.Token);
    //    state = temp;
    //}

    public void Dispose()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
